<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>About</h1>
  <p>Corey Todd Taylor (born December 8, 1973) is an American singer, musician and songwriter. He is known as the lead vocalist and lyricist of the bands Slipknot and Stone Sour.[1]

    Taylor co-founded Stone Sour with drummer Joel Ekman in 1992, playing in the Des Moines area, and working on a demo. He joined Slipknot in 1997 to replace their original vocalist and has subsequently released six studio albums with them. After the first two Slipknot albums went Platinum, Taylor revived Stone Sour to record an album and tour in 2002. His debut solo studio album, CMFT, was released on October 2, 2020, by Roadrunner Records.[2][3]</p>
</body>
</html>